@use '../base/base' as *;
@use '../abstract/colors' as *;
@use '../abstract/mixins' as *;
@use '../abstract/typography' as *;;

.main-sec{
    border-radius: 10px;
    width: 350px;
    padding-bottom: 20px;
    background-color: $white;
    z-index: 1;

    &--img{
        & img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
        }
    }

    &--head-text{
        margin-top: 20px;
        text-align: center;

        & h1{
            font-size: 25px;
            color: $dark-blue;
        }

        & p{
            margin-top: 17px;
            color: $desaturated-blue;
            font-size: 14px;
            padding: 0 30px;
        }
        @include media(small-mobile){
            padding: 0 2px;
        }
    }

    &--annual-plan{
        width: 85%;
        margin: 25px auto;
        padding: 15px;
        border-radius: 10px;
        background-color: $very-pale-blue;
        @include flexbox($justify: space-between);

        .music{
            @include flexbox;
            gap: 10px;

            & img{
                width: 40px;
            }
            .music-plan{
                & p{
                    font-weight: $fw-700;
                }

                & span{
                    font-size: 13px;
                    color: $desaturated-blue;
                }
            }
        }

        .change-link{
            & a{
                font-size: 13px;
                color: $bright-blue;
                font-weight: $fw-700;

                &:hover{
                    color: lighten($bright-blue, 10.5%);
                }
            }
        }

        // MEDIA QUERY FOR SMALL MOBILE
        @include media(small-mobile){
            @include flexbox($direction: column);
            gap: 10px;
        }
    }

    &--bottom-text{
        text-align: center;
        margin-top: 30px;

        & button:nth-child(1){
            width: 85%;
            padding: 12px;
            background-color: $bright-blue;
            color: $white;
            font-weight: $fw-700;
            border-radius: 10px;
            border: none;
            margin-bottom: 23px;
            box-shadow: -1px 13px 82px 11px rgba(0,6,148,0.18);
            -webkit-box-shadow: -1px 13px 82px 11px rgba(0,6,148,0.18);
            -moz-box-shadow: -1px 13px 82px 11px rgba(0,6,148,0.18);

            &:hover{
                cursor: pointer;
                background-color: lighten($bright-blue, 10.5%);
            }
        }

        & button:nth-child(2){
            color: $desaturated-blue;
            border: none;
            background: transparent;
            font-weight: $fw-700;

            &:hover{
                cursor: pointer;
                color: $dark-blue;
                font-weight: $fw-900;
            }
        }
    }

    // MEDIA QUERY FOR MOBILE
    @include media(mobile){
        width: 95%;
        background: url(/images/pattern-background-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// FOOTER
footer{
    position: absolute;
    bottom: 10px;

    .attribution {
        font-size: 11px;
        text-align: center;

        a{
            color: hsl(228, 45%, 44%);
        }
    }
}