@use '../abstract/mixins' as *;
@use '../abstract/typography' as *;
@use '../abstract/colors' as *;

// FONT IMPORT

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

// BASE

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $font-family;
}


body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    @include flexbox($direction: column);
    background-color: $pale-blue;
}

.pattern-bg{
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;

    img{
        width: 100%;
    }
}